<div class="card">
  <img [src]="img()" alt="producto">

  <div class="info">
    <h2>{{ name() }}</h2>

    <div class="cart">
      <p>\${{ price() }}</p>
      <p [ngClass]="available() ? 'disponible' : 'agotado'">
        {{ available() ? 'Disponible' : 'Agotado' }}
    </div>

    <div class="botones">
      <button type="button" (click)="mostrarModal()">
        <img class="icon" src="/assets/infoIcon.png" alt="info">
      </button>

      <button type="button" (click)="onAgregarClick()">
        <img class="icon" src="/assets/cartIcon.png" alt="carrito">
      </button>
    </div>




    <div *ngIf="modal()" class="modal">
      <div class="modal-content">
        <span class="cerrar" (click)="mostrarModal()">&times;</span>
        <h2>{{ name() }}</h2>
        <img [src]="img()" alt="producto" class="img-modal">

        <p><strong>Precio:</strong> ${{ price() }}</p>
        <p><strong>Estado:</strong> {{ available() ? 'Disponible' : 'Agotado' }}</p>
        <p>
          ¿Deseas comprarlo? Haz click en el icono del carrito
        </p>
      </div>
    </div>
  </div>
</div>