section {
    display: flex;
    font-family: "Poppins", sans-serif;
    /* background:linear-gradient(to left, rgb(255, 159, 175),rgb(255, 194, 212)); */
    background-color: rgb(255, 239, 250);
    padding: 4vh 0 0 0;
    justify-content: center;
    gap: 10vw;
    bottom: 0;
    align-items: center;
}

li,
a {
    list-style-type: none;
    font-size: 1.3rem;
    color: rgb(129, 15, 62);
    text-decoration: none;
}

#bolder {
    font-weight: bolder;
}

.footTitle {
    font-weight: bolder;
    font-family: "Alex Brush", cursive;
    font-size: 4rem;
    line-height: 1;
    color: #7e0738;
}

.copyright {
    background-color: rgb(255, 239, 250);
    text-align: center;
    color: rgb(197, 108, 142);
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0;
}